.principal .title{
    margin-bottom: 20px;
}

#contenido{
    padding-left: 30px;
}
#contenido2{
    padding-left: 30px;
}
#contenido3{
    padding-left: 30px;
}
#contenido4{
    padding-left: 30px;
}
#contenido5{
    padding-left: 30px;
}