<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AT&T Mobiles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="Js/index.js"></script>
</head>
<body>
    
<section class="hero is-dark is-large">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item " href="internet.html">
                  Internet
                </a>
                <a class="navbar-item" href="tv.html">
                  Tv
                </a>
                <a class="navbar-item is-active" href="mobiles.html">
                  Mobiles
                </a>
               <!--
                   <span class="navbar-item">
                  <a class="button is-info is-inverted">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>Download</span>
                  </a>
                </span>
              -->
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body" style="padding-top: 100px;">
      <div class="main">
          <div class="columns">
              <div class="column is-2">
                <aside class="menu ">
                  <p class="menu-label">
                    General
                 </p>
                  <ul class="menu-list">
                      <li><a href="internet.html">Internet</a></li>
                      <li><a href="tv.html">Tv</a></li>
                      <li><a class="is-active">Mobiles</a></li>
                  </ul>
                      <p class="menu-label">
                        Administration
                      </p>
                      <ul class="menu-list">
                        <li>
                          <a class="is-active">Internet</a>
                          <ul>
                            <li><a href="at&t_internet.html">AT&T</a></li>
                            <li><a href="Xfinity_internet.html">XFINITY</a></li>
                          </ul>
                        </li>
                        <li>
                          <a class="is-active">TV</a>
                          <ul>
                            <li><a href="at&t_tv.html">AT&T TV</a></li>
                            <li><a href="Directv.html">DIRECTV</a></li>
                            <li><a href="Xfinity_tv.html">XFINITY</a></li>
                            <li><a href="Dish.html">DISH</a></li>
                          </ul>
                        </li>
                        <li>
                          <a class="is-active">TELEFONIA</a>
                          <ul>
                            <li><a href="at&t_mobiles.html">AT&T</a></li>
                            <li><a href="Xfinity_mobiles.html">XFINITY</a></li>
                          </ul>
                        </li>
                        <li><a href="Maps.html">GOOGLE MAPS</a></li>
                      </ul>
                      <p class="menu-label">
                        Transactions
                      </p>
                      <ul class="menu-list">
                        <li><a href="datos.html">DATOS A SOLICITAR</a></li>
                      </ul>
              </aside>
              </div>
              <div class="column is-10">
                <p class="title" style="text-align: center;">
                    INFORMACION SOBRE MÓVILES AT&T
                  </p>
                <section class="hero">
                  <div class="principal">
                    <p class="title" >
                      SPEECH
                      <button onclick="muestra_oculta('contenido')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                    </p>
                  </div>
                    <div id="contenido">
                      <p class="subtitle">
                        <p>  
                          Buen día, te habla ------- tu asesor en telecomunicaciones y servicios para el hogar. ¿Cómo estás el día de hoy?   </p>
                        </p>
                        <br>
                        <p>
                            Excelente! Te estoy llamando ya que por acá tenemos que en algún momento mostraste interés sobre equipos móviles ¿correcto? Te gusta más iPhone o Samsung? 
                        </p>
                        <br>
                        <p>
                          Ahora mismo tenemos 700$ y 350$ de descuento por la actualización de tus equipos. 
                        </p>
                        <br>
                        <p>
                          ¿Qué equipos tienes (marcas/ modelos)?
                        </p><br>
                        <p>
                          Perfecto... ese equipo aplica para xxx$ de descuento. Coméntame con cual compañía estás? Cuánto pagas?
                        </p><br>
                        <p>
                          Excelente! Es solo su línea?
                        </p><br>
                        <p>
                          Bien, nosotros te  colocaremos con el plan xxx y quedarías pagando solo xxx$
                        </p><br>
                        <p>
                          Disfrutarás de los siguientes beneficios: 
                        </p>
                        <br>
                        <p class="title is-4">
                            NEXT UP
                        </p>
                        <p>
                           5$ + el mes durante 30 meses una vez que se pague el 50% del precio original.
                        </p>
                        <br>
                      </p>
                    </div>
                </section>
                <section class="hero">
                    <section class="hero">
                        <div class="principal">
                          <p class="title">
                            Preguntas de Sondeo
                            <button onclick="muestra_oculta('contenido3')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                          </p>
                        </div>
                        <div id="contenido3" class="">
                            <p class="subtitle">
                              <p>  
                               1) ¿Que proveedor tiene actualmente?</p>
                              </p>
                              <br>
                              <p>
                                2) Cuantas lineas tiene a su nombre?
                              </p>
                              <br>
                              <p>
                               3) Cuanto paga por estas lineas
                              </p>
                              <br>
                              <p>
                                4) Que equipos y modelos de celular tiene?
                               </p>
                              <br>
                              <p>
                                  5) Le gusta mas IPhone o Samsung?
                              </p>
                              <br>
                            </p>
                            <p class="subtitle" >
                                <p class="title is-4">
                                    Preguntas de Adicionales
                                </p>
                                <p style="margin-left:10px;">
                                    1) Tiene equipos financiados con su operador?
                                   </p>
                                  <br>
                                  <p style="margin-left:10px;">
                                      2) Se encuentra en buenas Condiciones sus Equipos?
                                  </p>
                                  <br>
                            </p>
                          </div>
                      </section>
                  <div class="principal">
                    <p class="title">
                      Planes
                      <button onclick="muestra_oculta('contenido2')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                    </p>
                  </div>          
                  <div id="contenido2">
                    <p class="title">
                      Lista de Precio
                    </p>
                    <p class="subtitle">
                      <aside class="menu ">
                        <p class="menu-label">
                          General
                       </p>
                        <ul class="menu-list">
                            <li style="margin-bottom: 5px;">
                                <a class="is-active">Started <strong> 75$</strong>
                                    <button onclick="muestra_oculta('aplicacion0')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;height: 20px;">+</button>
                                </a>
                            </li>
                            <div id="aplicacion0">
                              <br>      
                                    <ol style="margin-left: 50px;">
                                      <li>LLamadas,texto,data ilimitada en EE.UU, Canadá y México.</li>
                                      <li>Acceso 5G para dispositivos compatibles con la Red.</li>
                                      <li>Definicion Standard para Streaming.</li>
                                      <li>Texto ilimitado EE.UU. a más de 120 paises.</li>
                                      <li>No tiene disponible Hotspot.</li>
                                    </ol>
                                   
                              <br>
                              </div>
                            <li style="margin-bottom: 5px;">
                                <a class="is-active">Extra <strong> 85$</strong>
                                    <button onclick="muestra_oculta('aplicacion1')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                                </a>
                            </li>
                            <div id="aplicacion1">
                              <br>
                                    <ol style="margin-left: 50px;">
                                      <li>LLamadas,texto,data ilimitada en EE.UU, Canadá y México.</li>
                                      <li>50 Gb de Premium Data por linea.</li>
                                      <li>Acceso 5G para dispositivos compatibles con la Red.</li>
                                      <li>15 Gb de datos de Hotspot.</li>
                                      <li>Definicion Standard para Streaming.</li>
                                      <li>Texto ilimitado EE.UU. a más de 120 paises.</li>
                                      <li>Seguridad Advanced del dispositivo, bloqueo de fraude y alertas de riesgo de spam.</li>
                                    </ol>
                              <br>
                              </div>
                            <li style="margin-bottom: 5px;">
                                <a class="is-active">Elite <strong> 95$</strong>
                                    <button onclick="muestra_oculta('aplicacion2')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                                </a>
                            </li>
                            <div id="aplicacion2">
                              <br>
                                <ol style="margin-left: 50px;">
                                  <li>LLamadas,texto,data ilimitada en EE.UU, Canadá y México.</li>
                                  <li>100 Gb de Premium Data por linea.</li>
                                  <li>Acceso 5G para dispositivos compatibles con la Red.</li>
                                  <li>30 Gb de datos de Hotspot.</li>
                                  <li>Streaming HD disponible.</li>
                                  <li>HBO Max incluido.</li>
                                  <li>Texto ilimitado EE.UU. a más de 120 paises.</li>
                                  <li>Seguridad Advanced del dispositivo, bloqueo de fraude y alertas de riesgo de spam.</li>
                                </ol>
                              <br>
                              </div>
                            <li style="margin-bottom: 5px;">
                              <a class="is-active">Your Way 
                                <button onclick="muestra_oculta('aplicacion')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                              </a> 
                            </li>
                        
                        </ul>
                    </aside>
                    </p>
                  
                            <div id="aplicacion">
                              <section class="hero is-info">
                                  <div class="hero">
                                    <p class="title">
                                      Programa para sacar Precios de equipos AT&T
                                    </p>
                                    <br></br>
                                    <p class="subtitle">
                                      Cantidad de Telefonos:
                                        <input class="input is-primary" v-model.number="Num_telefono" type="number" step="1" placeholder="Cantidad" style="width: 200px;">
                                        <input type="button" class="button is-link is-rounded" v-on:click="Telefonos" value="Enviar" name="" id="">
                                      </p>
                                    <div id="cantidad">
                                        <div class="columns is-mobile">
                                              <div v-for="(t,key) in telefono">
                                                  <div class="column">
                                                      <p class="subtitle">
                                                          Equipo:
                                                          <input class="input is-primary" v-model.number="Precio[key]" type="number" step="1" placeholder="Precio del Equipo" style="width: 200px;">
                                                      </p>
                                                      <p class="subtitle">
                                                        Descuento:
                                                          <input class="input is-primary" v-model.number="Descuento[key]" type="number" step="1" style="width: 200px;">
                                                      </p>
                                                      <p class="subtitle">
                                                          Plan
                                                      </p>
                                                      <div class="select">
                                                          <select  v-model="Plan[key]">
                                                              <option disabled value="">Selecciona el Plan</option>
                                                              <option>Starter</option>
                                                              <option>Extra</option>
                                                              <option>Elite</option>
                                                          </select>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </section>
                              <br>
                              <section class="hero is-link">
                                  <table class="table">
                                      <thead>
                                        <tr>
                                          <th><abbr title="Position">Telefonos</abbr></th>
                                          <th>Precio</th>
                                          <th><abbr title="Played">Descuento</abbr></th>
                                          <th><abbr title="Points">Plan</abbr></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr v-for="(v, key) in array">
                                            <th>{{ key+1 }}</th>
                                            <td v-for="value in v">{{ value[key] }}</td>
                                        </tr>
                                      </tbody>
                                  </table>
                                  
                              </section>
                              <input type="button" class="button is-link is-rounded" style="width: 20%;text-align: center;" :disabled="calcular==false" v-on:click="Calcular" value="Calcular" name="" id="">
                              <input type="button" class="button is-link is-rounded" style="width: 20%;text-align: center;"  v-on:click="Reinicio" value="Reinicio" name="" id="">
                              <div class="hero">
                                  <p class="title">
                                    Unlimited Your Way
                                  </p>
                                  <p class="subtitle">
                                    <h2> Primer Bills: =  {{ ResultadoA }} $</h2> 
                                    <h2> Segundo Bills: =  {{ ResultadoB }} $ </h2>
                                    <h2> Tercer Bills: =  {{ ResultadoC }} $ </h2>     
                                    <h2>Plan Started : {{contadorStarted}}</h2>        
                                    <h2>Plan Extra : {{contadorExtra}}</h2>        
                                    <h2>Plan Elite : {{contadorElite}}</h2>    
                                    <br>    
                                    </p>
                                </div>

                          </div>
                  </div>
                </section>
                <section class="hero">
                  <div class="principal">
                    <p class="title">
                      TRADE IN
                      <button onclick="muestra_oculta('contenido4')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                    </p>
                  </div>
                  <div id="contenido4" style="padding-left:100px;">
          
                   <img src="TRADEIN.png" alt="" height="700px" width="700px">
                  </div>
                </section>
                <section class="hero">
                  <div class="principal">
                    <p class="title">
                      CIERRE
                      <button onclick="muestra_oculta('contenido5')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                    </p>
                  </div>
                  <div id="contenido5">
                    <p class="subtitle">
                        <p class="title is-4">
                            Cierre de directo
                          </p>
                        <p>
                            “Entonces, ¿a qué dirección enviamos su primer lote?”
                        </p>
                        <br>
                        <p class="title is-4">
                            Cierre de la alternativa
                        </p>
                        <p>
                            “Supongamos que decide quedarse con la americana; ¿la quiere en gris o en azul marino?​”
                        </p>
                        <br>
                        <p class="title is-4">
                            Cierre de ventas por amarre
                        </p>
                        <p>
                            –“En los tiempos que corren, contar con un proveedor que le proporcione tantas facilidades es una gran ventaja, ¿no cree?”
                        </p>
                        <br>
                        <p class="title is-4">
                            Cierre de la dificultad
                        </p>
                        <p>
                            “Puede pensárselo cuanto quiera... Solo que esta gama de cuchillos de cocina es de tan buena calidad que casi hemos agotado las existencias. Si no los encarga ahora, luego tal vez tenga que esperar de dos a tres meses para recibirlos...”
                        </p>
                        <br>
                        <p class="title is-4">
                            Cierre por equivocación
                        </p>
                        <p>
                            – “Muy bien, pues le apunto aquí que necesita los muebles para el día 21, ¿no?”
                        </p>
                        <p>
                            – “No, sería a partir del día 21, que es cuando me dan las llaves”.
                        </p>
                        <br>
                        <p class="title is-4">
                            Cierre imaginario
                        </p>
                        <p>
                            -“En caso de adquirir este equipo de pesca, ¿lo usaría solo con sus amigos, o también con sus hijos?”, o “Si decide quedarse con el apartado de aire acondicionado, ¿dónde lo instalará?”
                        </p>
                        <br>
                      </p>
                                       
                  </div>
                </section>
                <section class="hero">
                  <div class="principal">
                    <p class="title">
                      Datos
                      <button onclick="muestra_oculta('contenido6')"  class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">+</button>
                    </p>
                  </div>
                  <div id="contenido6">
                    <ol style="margin-left: 50px;">
                      <li>Primer nombre y Primer Apellido.</li>
                      <li>Correo electrónico.</li>
                      <li>Numero alterno.</li>
                      <li>Dirección.</li>
                      <li>Documento de identidad:SSN, ID o LICENCIA.    (Social, Itin Number)</li>
                      <li>Fecha de nacimiento.</li>
                      <li>Tarjete.</li>
                    </ol>
                                       
                  </div>
                </section>
              </div>
          </div>
      </div>
    
    
    </div>
  
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a>Overview</a>
            </li>
            <li>
              <a>Modifiers</a>
            </li>
            <li>
              <a>Grid</a>
            </li>
            <li>
              <a>Elements</a>
            </li>
            <li>
              <a>Components</a>
            </li>
            <li>
              <a>Layout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</body>
<script type="text/javascript">
  new Vue({
      el:"#aplicacion",
      data:{
         calcular:false,
         plan:0,
         segundo:0,
         planS:0,
         segundoS:0,
         planEx:0,
         segundoEx:0,
         planEl:0,
         segundoEl:0,
         activacion:30,
         Num_telefono:1,
         telefono:0,
         Precio:[],
         Descuento:[],
         Plan:[],
         array: [],
         arrayStarted:[
              { Lineas: 1,PrimerMes: 75, SegundoMes:  65  },
              { Lineas: 2,PrimerMes: 140, SegundoMes: 120 },
              { Lineas: 3,PrimerMes: 165, SegundoMes: 135 },
              { Lineas: 4,PrimerMes: 180, SegundoMes: 140 },
              { Lineas: 5,PrimerMes: 200, SegundoMes: 150 },
              { Lineas: 6,PrimerMes: 240, SegundoMes: 180 },
              { Lineas: 7,PrimerMes: 280, SegundoMes: 210 },
              { Lineas: 8,PrimerMes: 320, SegundoMes: 240 },
              { Lineas: 9,PrimerMes: 360, SegundoMes: 270 },
              { Lineas: 10,PrimerMes: 400, SegundoMes:300 },
          ],
          arrayExtra:[
              { Lineas: 1,PrimerMes: 85, SegundoMes: 75 },
              { Lineas: 2,PrimerMes: 150, SegundoMes: 130 },
              { Lineas: 3,PrimerMes: 180, SegundoMes: 150 },
              { Lineas: 4,PrimerMes: 200, SegundoMes: 160 },
              { Lineas: 5,PrimerMes: 225, SegundoMes: 175 },
              { Lineas: 6,PrimerMes: 270, SegundoMes: 210 },
              { Lineas: 7,PrimerMes: 315, SegundoMes: 245 },
              { Lineas: 8,PrimerMes: 360, SegundoMes: 280 },
              { Lineas: 9,PrimerMes: 405, SegundoMes: 315 },
              { Lineas: 10,PrimerMes: 450, SegundoMes: 350 },
          ],
          arrayElite:[
              { Lineas: 1,PrimerMes: 95, SegundoMes:  85 },
              { Lineas: 2,PrimerMes: 170, SegundoMes:  150 },
              { Lineas: 3,PrimerMes: 210, SegundoMes:  180 },
              { Lineas: 4,PrimerMes: 240, SegundoMes:  200 },
              { Lineas: 5,PrimerMes: 275, SegundoMes:  225 },
              { Lineas: 6,PrimerMes: 300, SegundoMes:  240 },
              { Lineas: 7,PrimerMes: 350, SegundoMes:  280 },
              { Lineas: 8,PrimerMes: 400, SegundoMes:  320 },
              { Lineas: 9,PrimerMes: 450, SegundoMes:  360 },
              { Lineas: 10,PrimerMes: 500, SegundoMes: 400 },
          ],
          contadorStarted:0,
          contadorExtra:0,
          contadorElite:0,
          ResultadoA:0,
          ResultadoB:0,
          ResultadoC:0,
      },
      methods: {
          Telefonos:function(event){
              this.telefono = this.Num_telefono;
              this.calcular = true;
              for (let n= 0;n<this.Num_telefono;n++){
                  var Equipos = {Precio:this.Precio, Descuento:this.Descuento,Plan:this.Plan}
                  this.array.push(Equipos);
              }
          },
          Reinicio:function(){
              this.intentos=0,
              this.plan=0,
              this.segundo=0,
              this.planS=0,
              this.segundoS=0,
              this.planEx=0,
              this.segundoEx=0,
              this.planEl=0,
              this.segundoEl=0,
              this.activacion=30,
              this.Num_telefono=1,
              this.telefono=0,
              this.Precio=[],
              this.Descuento=[],
              this.Plan=[],
              this.array= [],
              this.contadorStarted=0,
              this.contadorExtra=0,
              this.contadorElite=0,
              this.ResultadoA=0,
              this.ResultadoB=0,
              this.ResultadoC=0;
          },
          Calcular:function(){
              this.intentos= 2;
              this.calcular= false;
              //Started
              for (i in this.Plan){
                      //Started
                      if (this.Plan[i]=="Starter"){
                          this.contadorStarted= this.contadorStarted + 1
                      }
                      //Extra
                      else if (this.Plan[i]=="Extra"){
                      this.contadorExtra= this.contadorExtra + 1
                      }
                      //Elite
                      else if (this.Plan[i]=="Elite"){
                      this.contadorElite= this.contadorElite + 1
                      }
                  }
              for (i in this.arrayStarted){
                  //Started
                  if (this.arrayStarted[i].Lineas==this.contadorStarted){
                          this.planS= (this.arrayStarted[i].PrimerMes)/this.contadorStarted;
                          this.segundoS= (this.arrayStarted[i].SegundoMes)/this.contadorStarted;
                      }
              }
              for (i in this.arrayExtra){
                  //Extra
                  if (this.arrayExtra[i].Lineas==this.contadorExtra){
                      this.planEx= (this.arrayExtra[i].PrimerMes)/this.contadorExtra;
                      this.segundoEx= (this.arrayExtra[i].SegundoMes)/this.contadorExtra;
                  }
              }
              for (i in this.arrayElite){
                  //Elite
                  if (this.arrayElite[i].Lineas==this.contadorElite){
                      this.planEl= (this.arrayElite[i].PrimerMes)/this.contadorElite;
                      this.segundoEl= (this.arrayElite[i].SegundoMes)/this.contadorElite;
                  }
              }
              //Cuentas
              for (let c = 0; c < this.telefono; c++) {
                  console.log("c",c);    
                  primero= this.Precio[c] / 30;
                  if (this.Plan[c] == "Starter"){
                      this.plan = this.planS;
                      this.segundo = this.segundoS;
                  }
                  else if (this.Plan[c] == "Extra"){
                      this.plan = this.planEx;
                      this.segundo = this.segundoEx;
                  }
                  else if (this.Plan[c] == "Elite"){
                      this.plan = this.planEl;
                      this.segundo = this.segundoEl;
                  }
                  this.ResultadoA = this.ResultadoA + (primero + this.plan + this.activacion);
                  this.ResultadoB = this.ResultadoB + (primero + this.plan);
                  this.ResultadoC = this.ResultadoC + (((this.Precio[c]-this.Descuento[c])/30) + this.segundo);
                  console.log("A", this.ResultadoA)
                  console.log("B", this.ResultadoB)
                  console.log("C", this.ResultadoC)
                  console.log("S", this.contadorStarted)
                  console.log("Ex", this.contadorExtra)
                  console.log("El", this.contadorElite)
                  console.log("Primeo",primero)
                  console.log("Plan", this.plan)
                  console.log("Descuento",(this.Precio[c] - this.Descuento[c])/30)
              }
              
          }
      },
  });
</script>
</html>